# Core
python-dotenv
PyYAML
requests

# Memory
sqlite-utils
neo4j
chromadb

# LLM
sentence-transformers
langchain
langchain_community
langchain_groq
groq
sentence-transformers
langchain_huggingface
huggingface

# Ingestion
GitPython
tree-sitter
langchain
unstructured

# Agents
crewai

# UI
streamlit

# Testing
pytest
pytest-asynci